.total-recipe-title {
    font-weight: 600;
    font-size: 18px;
}

.side-bar-title p {
    font-weight: 600;
    font-size: 18px;
}

.card-body a {
    text-decoration: none;
}

.widget-title {
    margin-top: -10px;
    font-size: 12px;
    color: #EB4A36;
    font-weight: 400;
}

.widget-name {
    font-size: 12px;
    color: #4A4A4A;
    font-weight: 600;
}

.widget-img {
    background-size: cover;
}

.widget-img a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    margin-bottom: 60px;
    margin-right: 14px;
    margin-left: 14px;
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.widget-img:hover a {
    opacity: 1;
}

.widget-img-search a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0px;
    margin-bottom: 60px;
    margin-right: 14px;
    margin-left: 14px;
    opacity: 0;
    border-radius: 5px;
    transition: opacity 0.3s;
    background-color: rgba(0, 0, 0, 0.5);
}

.widget-img-search:hover a {
    opacity: 1;
}