.jumbotron {
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 0 -550px; */
}


@media only screen and (max-width: 1600px) {
    .jumbotron {
        background-position: center center;
    }
}

@media only screen and (max-width: 1024px) {
    .jumbotron {
        background-position: center center;
    }
}

@media only screen and (max-width: 720px) {
    .jumbotron {
        background-position: center center;
        height: 600px;
    }
}

@media only screen and (max-width: 480px) {
    .jumbotron {
        background-position: center center;
    }
}

h2,
.input-group {
    line-height: 250px;
}

.searchBtn {
    color: #EB4A36;
    background-color: #EB4A36;
}

.searchBtn .fa:hover {
    color: #EB4A36;
}

.fa-search {
    color: white;
}

.btn-make-recipe {
    font-weight: 600;
    font-size: 12px;
}


.jumbo-card-title {
    font-size: 16px;
    color: #EB4A36;
    margin-top: -14px;
}

.jumbo-card-name {
    font-size: 42px;
    margin-top: -16px;
    font-weight: 600;
    color: #4a4a44;
}

.jumbo-card-desc {
    font-size: 16px;
}

.jumbo-card-time {
    font-size: 16px;
    font-weight: 600;
    color: #4a4a44;
}

.jumbo-card-time-desc {
    font-size: 12px;
    margin-top: -10px;
    color: #4a4a44;
}