@import "app-bar.css";
@import "jumbotron.css";
@import "viral-content.css";
@import "recipes-content.css";
@import "chef-content.css";
@import "videorecepty-content.css";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;600;700&display=swap');

html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Dosis';
}

/* body {
    height: 5000px;
} */

/* .figure .as img {
    align-items: center !important;
    display: inline-block;
} */